<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="width: 100vw; height: 100vh; margin: 0;">
    <div class="online_3d_viewer" style="width: 100%; height: 100%;" model="{{ url_for('static', filename='elektromotor-gehaeuse-alsado-flow3d.FCStd') }}" edgesettings="true, 0, 0, 0, 1"></div>
    
</body>
<script type="text/javascript" src="{{ url_for('static', filename='o3dv/o3dv.min.js') }}"></script>
<script>
window.addEventListener ('load', () => {
    // init all viewers on the page
    OV.Init3DViewerElements ();
});
</script>
</html>